.profile-container {
    justify-items: center;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .profile-block {
    padding: 5px 20px 20px 20px;
    text-align: center;
    background-color: #18224F;
    width: 250px;
    border-radius: 20px;
    margin-top: 10px;
  }